{% extends 'base.html' %}

{% block head %}
 <script type="text/javascript">
    var myApp = angular.module('myApp', ['ui.router'])

    myApp.config(function($stateProvider, $urlRouterProvider) {
      $stateProvider
        .state('home', { url: '/home', templateUrl: '/static/partials/home.html'})
  .state('list', { url: '/list', templateUrl: '/static/partials/list.html'})
  .state('list.item', {
                url: '/:item',
                templateUrl: 'static/partials/list.item.html',
                controller: function($scope, $stateParams) {
                    $scope.item = $stateParams.item;
                }
            })
    })
    
    myApp.controller('MyController', function($scope, $http) {
    
        $scope.shoppingList = [
            {name: 'Milk'},
            {name: 'Eggs'},
            {name: 'Bread'},
            {name: 'Cheese'},
            {name: 'Ham'}
        ];

        
        
      
    });
  </script>
{% endblock %}

{% block body %}
<div ng-app="myApp" ng-controller="MyController">
  <ul class="nav nav-pills">
    <li><a href="#/home">Home</a></li>
    <li><a href="#/list">Shopping List</a></li>
  </ul>
<div ui-view></div>
</div>
{% endblock %}